<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-currency-heading"
        data-cy="CurrencyCreateUpdateHeading"
        jhiTranslate="currencyJhipsterApp.currency.home.createOrEditLabel"
      >
        Create or edit a Currency
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.Code" for="field_Code">Code</label>
          <input type="number" class="form-control" name="Code" id="field_Code" data-cy="Code" formControlName="Code" />
          <div *ngIf="editForm.get('Code')!.invalid && (editForm.get('Code')!.dirty || editForm.get('Code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('Code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('Code')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.Name" for="field_Name">Name</label>
          <input type="text" class="form-control" name="Name" id="field_Name" data-cy="Name" formControlName="Name" />
          <div *ngIf="editForm.get('Name')!.invalid && (editForm.get('Name')!.dirty || editForm.get('Name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('Name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.NameRu" for="field_NameRu">Name Ru</label>
          <input type="text" class="form-control" name="NameRu" id="field_NameRu" data-cy="NameRu" formControlName="NameRu" />
          <div *ngIf="editForm.get('NameRu')!.invalid && (editForm.get('NameRu')!.dirty || editForm.get('NameRu')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('NameRu')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.NameUz" for="field_NameUz">Name Uz</label>
          <input type="text" class="form-control" name="NameUz" id="field_NameUz" data-cy="NameUz" formControlName="NameUz" />
          <div *ngIf="editForm.get('NameUz')!.invalid && (editForm.get('NameUz')!.dirty || editForm.get('NameUz')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('NameUz')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.NameUzc" for="field_NameUzc">Name Uzc</label>
          <input type="text" class="form-control" name="NameUzc" id="field_NameUzc" data-cy="NameUzc" formControlName="NameUzc" />
          <div *ngIf="editForm.get('NameUzc')!.invalid && (editForm.get('NameUzc')!.dirty || editForm.get('NameUzc')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('NameUzc')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.NameEn" for="field_NameEn">Name En</label>
          <input type="text" class="form-control" name="NameEn" id="field_NameEn" data-cy="NameEn" formControlName="NameEn" />
          <div *ngIf="editForm.get('NameEn')!.invalid && (editForm.get('NameEn')!.dirty || editForm.get('NameEn')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('NameEn')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.Nominal" for="field_Nominal">Nominal</label>
          <input type="number" class="form-control" name="Nominal" id="field_Nominal" data-cy="Nominal" formControlName="Nominal" />
          <div *ngIf="editForm.get('Nominal')!.invalid && (editForm.get('Nominal')!.dirty || editForm.get('Nominal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('Nominal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('Nominal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.Rate" for="field_Rate">Rate</label>
          <input type="number" class="form-control" name="Rate" id="field_Rate" data-cy="Rate" formControlName="Rate" />
          <div *ngIf="editForm.get('Rate')!.invalid && (editForm.get('Rate')!.dirty || editForm.get('Rate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('Rate')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('Rate')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.Diff" for="field_Diff">Diff</label>
          <input type="number" class="form-control" name="Diff" id="field_Diff" data-cy="Diff" formControlName="Diff" />
          <div *ngIf="editForm.get('Diff')!.invalid && (editForm.get('Diff')!.dirty || editForm.get('Diff')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('Diff')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('Diff')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.Date" for="field_Date">Date</label>
          <input type="text" class="form-control" name="Date" id="field_Date" data-cy="Date" formControlName="Date" />
          <div *ngIf="editForm.get('Date')!.invalid && (editForm.get('Date')!.dirty || editForm.get('Date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('Date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
