<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="currency">
      <h2 data-cy="currencyDetailsHeading"><span jhiTranslate="currencyJhipsterApp.currency.detail.title">Currency</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ currency.id }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.Code">Code</span></dt>
        <dd>
          <span>{{ currency.Code }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.Name">Name</span></dt>
        <dd>
          <span>{{ currency.Ccy }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.NameRu">Name Ru</span></dt>
        <dd>
          <span>{{ currency.CcyNm_RU }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.NameUz">Name Uz</span></dt>
        <dd>
          <span>{{ currency.CcyNm_UZ }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.NameUzc">Name Uzc</span></dt>
        <dd>
          <span>{{ currency.CcyNm_UZC }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.NameEn">Name En</span></dt>
        <dd>
          <span>{{ currency.CcyNm_EN }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.Nominal">Nominal</span></dt>
        <dd>
          <span>{{ currency.Nominal }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.Rate">Rate</span></dt>
        <dd>
          <span>{{ currency.Rate }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.Diff">Diff</span></dt>
        <dd>
          <span>{{ currency.Diff }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.Date">Date</span></dt>
        <dd>
          <span>{{ currency.Date }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/currency', currency.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
